*{
  margin: 0;
  padding: 0;
  font-family: 'Blinker', sans-serif;
  box-sizing: border-box;
}

nav{
  width: auto;
  height: auto;
  background-color: #FF592C;
}

.logoHome{
  height: auto;
  width: 180px;
  display: flex;
  margin: auto;
  padding: 2em 0;
}

main{
  background-color: #F4E6E6;
  display:flex;
  justify-content: space-evenly;
  min-height: 80vh;
}

main div{
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main div > div{
  width: 300px;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start;
  flex-direction: column;
  
}

h1{
  width: 248px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #594A47;
}

.btn-home{
  padding:1.5em 6em; 
  background: #504E8F;
  border-radius: 5px;
  border: 0;
  color: white;
  margin-top: 2em;
  margin-bottom: 1.5em;
  transition: .5s;
  text-decoration: none;
}

.btn-home:hover, .btn-home1:hover{
  cursor: pointer;
  background: #3c3a78;
}

.btn-home1{
  padding:1.5em 6em; 
  background: #504E8F;
  border-radius: 5px;
  border: 0;
  color: white;
  transition: .5s;
  text-decoration: none;
}

.cartasHome{
  padding: 10px;
  margin: 10px; 
  width: 70%;
}

footer{
  background-color: #353535;
  color: white;
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Menu */

.btn-enviar{
  padding:1em 3em; 
  width: 10%;
  background: #FF592C;
  border-radius: 5px;
  border: 0;
  color: white;
  margin-top: 2em;
  margin-bottom: 1.5em;
  transition: .5s;
  text-decoration: none; 
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-enviar:hover{
  cursor: pointer;
  background: #db441a;
}

.img-sandwich, .img-waffles, .img-postres, .img-cafes{
  width:200px;
  height:200px;
  background-size:contain !important;
}

.card{
  width: 50%;
  padding: 20%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  padding:  20px
}

.card2{
    width: 50%;
    padding: 20%;
    display: flex;
    padding:  20px
}

.card .img-postres{
  background-size: contain;
}

.btn-agregar{
  padding:0.5em 1em; 
  background-color: #504E8F;
  border-radius: 5px;
  border: 0;
  color: white;
  transition: .5s;
  text-decoration: none;
}

.list2{
  padding: 5%;
  width: 50%;
  background-color: #D9D9D9;
}

.list{
  padding: 5%;
  width: 50%;
  background-color: #D9D9D9;
}

/* Preparacion */

.wait{
  background-size: contain;
  width: 50%
}
.waiting{

  width: 50%;
}